@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>


<address>
    @*One Microsoft Way<br />
    Redmond, WA 98052-6399<br />*@
    <abbr title="Phone">Celular:</abbr>
    +54(011)5022-8809
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">soporte@gafer.com.ar</a><br />
   
</address>