@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#a5a5af">
    <h1 style="font-size: 40px;">GAFER Net - Orden De Pago</h1>
    <p class="lead">Gafer Net es un inovador sistema web que permite la generación de formularios de pago utilizando el servicio de SEPSA Pago Facil como intermediario de pago.
        Una nueva manera simple y sencilla de administrar, generar y enviar "formularios de pago" por correo electronico a sus clientes.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row"  style="background: linear-gradient(to right, #6EC8BF , #58BD93);">
    <div class="col-md-4">
        <h3>Cargar un nuevo cliente</h3>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-primary" href="#">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Generar una orden de pago</h3>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-primary" href="#">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Enviar un talón de pago</h3>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-primary" href="#">Leer más &raquo;</a></p>
    </div>
</div>

