
@{
    ViewBag.Title = "Acceso denegado";
}

<h2>Acceso Denegado</h2>
<p>Usted no tiene los privilegios necesarios para acceder a esta seccion. Ante cualquier duda comuniquese con el soporte técnico</p>

