body {
    padding-top: 150px;
    padding-bottom: 20px;
   /*   background-image: url('../Images/fondo.jpg');*/
    /* Location of the image */
  /*background-image: url(images/background-photo.jpg);*/
  
  /* Background image is centered vertically and horizontally at all times */
  /*background-position: center center;*/
  
  /* Background image doesn't tile */
  /*background-repeat: no-repeat;*/
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  /*background-attachment: fixed;*/
  
  /* This is what makes the background image rescale based
     on the container's size */
  /*background-size: cover;*/
  
  /* Set a background color that will be displayed
     while the background image is loading */
  /* background-color: #464646;*/

   background-color: rgba(176, 176, 176, 0.12)
   
}

.modal-header {
  
  background-color: #12A19A;
}

.modal-footer{
  
  background-color: #EAEAEA;
}

.navbar-inverse .navbar-nav > li > a {
  color: #08847E;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #12A19A;
    border-color: #08847E;
}

a{
    color: #0D7C77;
}

a:hover, a:focus {
  color: #94CAB6;
  text-decoration: underline;
}

.btn-site{
    color: #ffffff;
  background-color: #12A19A;
  border-color: #08847E;
}
a.logo
{
    background: url(../Images/image.gif) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
  
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}